__pycache__/
# possible subject data (not allowed)
*.csv
*.txt
*.html

# neuroimaging datatypes
*.hd5
*.nii*

# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
