__pycache__
# plaintext data 
*.csv
*.txt

# neuroimaging datatypes
*.hd5
*.nii*
*parcellation*

# swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# program files
__pycache__
*cluster.sh
pull*.sh

# other modules
skpalm

# testing and benchmarking intermediates
*benchmark*
*metric_test*
*tst*

# cluttered or potentially sensitive info
*.html
RESTRICTED*
logs
*do_*
*MCCN*
*within_*

# image files
*.png

# unmodified submodules
skpalm

# writeup and publishing data
Null_Models
